/bin
/.temp
/lib

*.js
*.js.map
*.swf
*.n
gen-partials
.DS_Store

.mcover
.temp
example/01_basic/build
example/02_metadata/build
example/03_properties/build
example/04_metadata_config/build
/build/User.hx